@use '../utils' as u;

$s: clamp(u.rem(12), 0.5vw + u.rem(2), u.rem(16));

$m: clamp(u.rem(16), 0.8vw + u.rem(4), u.rem(24));

$l: clamp(u.rem(24), 1vw + u.rem(6), u.rem(32));

$xl: clamp(u.rem(32), 1.5vw + u.rem(8), u.rem(48));

$xxl: clamp(u.rem(48), 1vw + u.rem(10), u.rem(56));

$xxxl: clamp(u.rem(56), 2vw + u.rem(40), u.rem(64));
