@use 'globals/fonts';


.input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    &__label {
        font-size: fonts.$m;
        color: var(--white);
        
    }
    &__field {
        font-size: fonts.$l;
        padding: 8px 12px;
        background-color: var(--white);
        outline: none;
        border: none;
        margin: 3px;

        &:focus{
            outline: none;
            border: var(--primary) 3px solid;
            margin: 0;
        }
    }
    
}