@use 'globals/fonts' as fonts;

.logo{
    font-size: fonts.$xxxl;
    color: var(--white);

    margin: 50px auto;
    position: relative;
    font-weight: bold;
}

.circles {
    position: absolute;
    left: -400px;
    bottom: -800px;
}

.motto {
    font-size: fonts.$xl;
}