@use 'globals/fonts';

.primary {
    font-family: inherit;
    font-size: fonts.$m;
    padding: 15px 10px;
    background-color: var(--primary);
    border: 3px solid white;
    border-radius: 15px;

}